<div class="chat-container">
  <h2>Welcome, {{ username }}</h2>

  
  <form (ngSubmit)="sendMessage()" class="chat-form">
    <div class="form-group">
      <label for="messagecontent">New Message</label>
      <input
        type="text"
        [(ngModel)]="messagecontent"
        name="messagecontent"
        id="messagecontent"
        class="form-control"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>

  
  <ul class="messages-list">
    <li *ngFor="let message of messages" class="message-item">{{ message }}</li>
  </ul>

  
  <div *ngIf="userRole === 'SuperAdmin'">
    <h3>Super Admin Actions</h3>
    <button class="btn btn-primary">Manage Users</button>
    
  </div>

  
  <div *ngIf="userRole === 'GroupAdmin'">
    <h3>Group Admin Actions</h3>
    <button class="btn btn-primary">Create Group</button>
   
  </div>

  
  <div *ngIf="userRole === 'User'">
    <h3>User Actions</h3>
    <button class="btn btn-primary">Join Channel</button>
    
  </div>

  <!-- Logout Button -->
  <button (click)="logout()" class="btn btn-danger mt-3">Logout</button>
</div>
