.chat-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1; 
  overflow-y: auto;
}

.chat-container {
  flex: 2;
  padding: 20px;
  background-color: #ffffff; 
}

.group-item, .channel-management, .users-list li {
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

.group-name {
  font-weight: bold;
}

.btn-remove {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 0.875rem; 
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.button-group {
  position: absolute;
  top: 0px;
  right: 10px;
  display: flex;
  gap: 10px; 
}

.logout-btn, .btn-delete-profile {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn {
  background-color: #007bff;
  color: white;
}

.btn-delete-profile {
  background-color: #dc3545;
  color: white;
}

.btn-delete-profile:hover {
  background-color: #c82333;
}

.create-btn {
  padding: 5px 10px;
  font-size: 0.875rem; 
}

.channel-management {
  margin-top: 0.5rem;
}

.submit-btn {
  padding: 10px 20px;
}

.add-user-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  margin-top: 0.5rem;
}
